@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Noto Sans", sans-serif;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

li {
  list-style: none;
} 

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #C7C1BEFF;
  border-radius: 5px;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slideUp {
    animation: slideUp 0.3s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.animate-fadeOut {
    animation: fadeOut 0.2s ease-out forwards;
}

.typing-dot {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    margin-left: 4px;
    display: inline-block;
    background-color: #5C5E69;
    animation: 1.2s typing-dot ease-in-out infinite;
}

.typing-dot:nth-of-type(2) {
    animation-delay: 0.15s;
}

.typing-dot:nth-of-type(3) {
    animation-delay: 0.25s;
}

@keyframes typing-dot {
    15% {
        transform: translateY(-35%);
        opacity: 0.5;
    }
    30% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.overflow-y-auto {
    scroll-behavior: smooth;
}

.markdown-content {
    /* Add styles for markdown elements */
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        margin: 1em 0 0.5em;
    }
    
    p {
        margin: 0;
    }
    
    ul, ol {
        margin-left: 1.5em;
    }
    
    strong {
        font-weight: bold;
    }
    
    em {
        font-style: italic;
    }
}
